


.app {
    .container{
        @keyframes slideOut3 {
            from {
              margin-left: 245px;
            }
            to {
              margin-left: 0px;
            }
          }

        .employee{
            margin-left: 245px;
            animation: slideIn2 0.3s ease-out forwards;
            display: flex;
            height: 100vh;
            color: teal;
            background-color: white;
            display: flex;
            flex-direction: column;

            .header{
                display: flex;
                flex-direction: column;
                width: 100%;
                color: white;
                justify-content: center;
                align-items: flex-end; 
                background-color: teal;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                h4{
                    padding-right: 70px;
                }             
            }

            .content{
                background-color: rgb(255, 255, 255);

                .h{
                    padding-left: 70px;
                    padding-right: 70px;
                    padding-top: 70px;
                    background-color: rgb(255, 255, 255);
                    display: flex;
                    justify-self: center;
                    align-items: center;
                    h1{
                        flex: 11;
                    }
                    button{
                        flex: 1;
                        background-color: teal;
                        color: white;
                    }
                    button:hover{
                        background-color: rgb(2, 97, 97);
                    }
                }

                .table{
                    padding-left: 70px;
                    padding-right: 70px;
                    padding-top: 30px;
                    display: flex;
                    flex:10;
                    min-height: 100vh;
                    flex-direction: column; 

                    th, td{
                        padding: 10px;
                        text-align: center;
                        border: 2px solid teal;
                        border-radius: 5px;
                    }
                    th{
                        border: 2px solid rgb(13, 58, 58);
                        border-radius: 10px;
                    }


                    th{
                        background-color: rgb(13, 58, 58);
                        color: white;
                        border-radius: 4px;
                    }
                    tr{
                        color: rgb(13, 58, 58);
                        background-color: white;
                    }
                    .link{
                        text-decoration: none;
                    }

                    .u{
                        color: rgb(13, 58, 58);
                    }
                    .u:hover{
                        color: rgb(8, 117, 117);
                    }
                    .d{
                        color: rgb(230, 20, 20);
                    }
                    .d:hover{
                        color: rgb(148, 12, 12);
                    }
                }


                form{
                    display: flex;
                    flex-direction: column;
                    padding-left: 70px;
                    padding-right: 70px;
                    padding-top: 50px;

                    input{
                        border: 1px solid rgb(156, 202, 202);
                        padding: 12px;
                        color: rgb(109, 106, 106);
                        margin-top: 13px;
                    }
                    

                    label{
                        margin-top: 20px;
                    }

                    button{
                        margin-top: 30px;
                        background-color: teal;
                        color: white;
                    }
                    button:hover{
                        background-color: rgb(2, 97, 97);
                    }

                }
            }

            
        }

        .employee.closed{
            animation: slideOut3 0.3s ease forwards;
        }

         /*  To make the admin nav slide out when the screen is less than or equal to 690*/
         @media (max-width: 690px) {
            .employee{
              animation: slideOut3 0.3s ease forwards;
            }
          }
    }
}